body
{
	font-family: Helvetica;
	font-size: 80%;
}

.chat
{
	width: 80%;
	padding: 0 10%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.me
{
position: relative;
padding: 0px;
background: #E5E5EA;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.me:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 11px 8px 0;
border-color: transparent #E5E5EA;
display: block;
width: 0;
z-index: 1;
left: -11px;
top: 4px;
}

.them 
{
position: relative;
float: right;
padding: 0px;
background: #2A96F6;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: white;
}

.them:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 0 8px 11px;
border-color: transparent #2A96F6;
display: block;
width: 0;
z-index: 1;
right: -11px;
top: 4px;
}

.me, .them
{
	padding: 5px;
	margin: 0.5em 0;
	box-sizing: border-box;
	clear: both;
	width: 60%;
	min-width: 200px;
}

form
{
	width: 100%;
	clear: both;
	padding: 1em 0;
}

form input[type="text"]
{
	width: 90%;
	border-radius: 3px;
	padding: 3px;
	font-size: 13px;
	color: #6e6e6e;
	border: 1px solid #E5E5EA;
}

button
{
	padding: 5px;
	background-color: white;
	border: 1px solid #E5E5EA;
	border-radius: 3px;
}